@import url(http://fonts.googleapis.com/css?family=Exo+2:700|Ubuntu:300);

body {
  color: #555;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
}

.title {
  font-family: 'Exo 2', sans-serif;
}

.wrap {
  margin: 0 auto;
  max-width: 900px;
}

.timestamp {
  font-size: 0.9em;
}

h1 {
  font-size: 1.5em;
  text-decoration: underline;
}
h2 {font-size: 1.0em;}


footer {
  position: fixed;
  bottom: 20px;
  width: 900px;
  padding-top: 10px;
  border-top: 2px solid #ddd;
  font-size: 12px;
}

nav {
  padding-left: 45px;
  display: inline-block;
  font-size: 12px;
}

.main-nav ul {
  padding: 0;
  list-style: none;
}

.main-nav ul > li {
  display: inline;
  padding: 4px;
  border-radius: 5px;
}

.main-nav ul > li:hover {
  background: #eee;
}
