@import url(http://fonts.googleapis.com/css?family=Exo+2:700|Ubuntu:300);

body {
  color: #555;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
}

#search {
  display: inline-block;
  margin-left: 5%;
}

#search input {
  max-width: 100px;
}

.title {
  font-family: 'Exo 2', sans-serif;
}

.title a {
  color: #222;
  text-decoration: none;
}

.wrap {
  margin: 0 auto;
  max-width: 700px;
}

.blog, .user-list, .tag-list, .page-body {
  padding-bottom: 40px;
}

.blog-post {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.timestamp {
  font-size: 0.9em;
}

.user-list {
  list-style: none;
}

.activate, .deactivate {
  display: inline-block;
}

.dash-main input, .dash-main textarea, .dash-main select, .user-list input {
  margin-bottom: 15px;
}

textarea {
  min-width: 50%;
  min-height: 5em;
}

h1 {
  font-size: 1.5em;
  text-decoration: underline;
}
h2 {font-size: 1.0em;}


footer {
  background: #fff;
  position: fixed;
  bottom: 0px;
  width: 700px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-top: 2px solid #ddd;
  font-size: 12px;
}

nav {
  padding-left: 45px;
  display: inline-block;
  font-size: 12px;
}

.main-nav ul {
  padding: 0;
  list-style: none;
}

.main-nav {
  display: inline-block;
}

.main-nav ul > li {
  display: inline;
  padding: 4px;
  border-radius: 5px;
}

.main-nav ul > li:hover {
  background: #eee;
}
